.container {
  position: fixed;
  /* background-color: #efefef; */
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
