.navItemHeader {
  margin-right: 20px;
  margin-left: 20px;
  color: var(--text-lighter-color);
}

a {
  color: var(--text-lighter-color);
}

.forActive {
  color: var(--dark-color);
  font-weight: bold;
}
