.logo {
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 36px;
  font-weight: 700;
  color: #66c05d;
  line-height: 42.19px;
  letter-spacing: 3px;
}

.logoImg {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url("./delivery23.svg");
  margin-right: 10px;
}
