.form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin: 0 auto;
  max-width: 500px;
}

.title {
  margin: 15px;
}

.formControl {
  margin: 30px 0;
}

.input {
  border: 0;
  border-bottom: 1px solid #bcbecb;
  color: inherit;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.submit {
  background-color: #66c05d;
  color: white;
}

