.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: var(--modal-bgd-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  animation: show-modal 0.5s forwards;
  border-radius: 3px;
  min-width: 50%;
  background-color: var(--error-color);
  color: var(--white-color);
  padding: 40px;
}
